@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --color-primary: #2c4b79;
  --color-secondary: #a5aeba;
  --color-success: #4ea94e;
  --color-accent: #f5923e;
  --color-background: #fefdfe;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
